img
{
    width: 200px;
    border: 9px groove grey;
    float: left;
}
#p1
{
    border: 2px solid grey;
    padding-left: 10px;
    text-align: justify;
    max-width: 350px;
    float: left;
}
div
{
    margin-top: 200px;
}